* {
    /* the universal selector */
    margin:0;
    padding:0;
  } 
  
  /* page section */
  body {
    color: #444;
    font-family: sans-serif;
    background: url("citylarge.gif") no-repeat top center fixed;
    background-size: 100vw;
    border-top: 10px solid #BD8E62;
    /*border-top won't be inherited to every child */
    position: relative;
  }
  /* the inheritance has the lowest priority, easy to be overrided*/
  
  .content{
    background: gray;
  }

  .container {
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-direction: center;
    align-items: center;
  }
  
  .main-header {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 400px;
    margin-bottom: 300px;
    /* height: 60px; */
  }

  .main-header .header-content{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-content h1{
    color: black;
  }
  .intro {
    display: flex;
    width: 50vw;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px;
  }  

  nav {
    padding: 0px 5px;
    font-size: 15px;
  }

    /* smaller elements */
    h1, h2, h3{
      color: #A46843;
    }
    
    h1 {
      font-size: 26px;
      text-transform: uppercase;
      font-style: italic;
    }

    h2{
        padding: 0px 20px;
        font-size: 26px;
      }

    h3{
        padding: 0px 20px;
        font-size: 20px;
      }

/* Styling links */
a:link {
    color: #A46843;
    text-decoration: none; /*get rid of the underlines */
  }
  
  a:visited {
    color: #A46843;
  }
  
  a:hover {
    color: #3C2317;
    font-weight: bold;
    text-decoration: underline dotted #3C2317
    d;
  }

    nav a:link {

        margin-right: 30px;
        margin-top: 10px;
        display: inline-block;
      } 
      
      nav a:link:last-child {
        margin-right: 0;
      }
  
  img {
    border-radius: 8px;
    max-width: 80%;
    height: auto;
    padding: 15px 20px;
    }

  .map {
    width: 800px;
    margin-top: 15px;
    }

  .place1 {
    font-size: 35px;
    position: absolute;
    top: 1453px;
    left: 415px;
  }

  .place2 {
    font-size: 35px;
    position: absolute;
    top: 1440px;
    left: 393px;
  }

  .place3 {
    font-size: 35px;
    position: absolute;
    top: 1516px;
    left: 400px;
  }

  a.place1:link, a.place1:visited, a.place3:link, a.place3:visited {
    color:#40686A;
  }

  a.place1:hover, a.place3:hover {
    color: #1d3a3b;
    font-weight: bold;
    text-decoration: underline dotted #3C2317
    d;
  } {
    color:#40686A;
  }

  a.place1:hover {
    color: #1d3a3b;
    font-weight: bold;
    text-decoration: underline dotted #3C2317
    d;
  }

  a.place2:link, a.place2:visited {
    color:rgb(214, 143, 10);
  }

  a.place2:hover {
    color: rgb(181, 120, 7);
    font-weight: bold;
    text-decoration: underline dotted #3C2317
    d;
  }

  /* 

  a.place3:link, a.place3:visited {
    color:#c44f3a;
  }

  a.place3:hover {
    color: #743320;
    font-weight: bold;
    text-decoration: underline dotted #3C2317
    d;
  } */

.wrapper {
    margin: 0 auto;
    width: 960px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 32%;
}

.row{
  padding: 0px 20px;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.back{
  padding: 0px 20px;
}